<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>body</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>lorem ipsum title 1</td>
            <td>lorem ipsum my content 1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>lorem ipsum title 2</td>
            <td>lorem ipsum my content 2</td>
        </tr>
        <tr>
            <td>3</td>
            <td>lorem ipsum title 3</td>
            <td>lorem ipsum my content 3</td>
        </tr>
        <tr>
            <td>4</td>
            <td>lorem ipsum title 4</td>
            <td>lorem ipsum my content 4</td>
        </tr>
        <tr>
            <td>5</td>
            <td>lorem ipsum title 5</td>
            <td>lorem ipsum my content 5</td>
        </tr>
        <tr>
            <td>6</td>
            <td>lorem ipsum title 6</td>
            <td>lorem ipsum my content 6</td>
        </tr>
        <tr>
            <td>7</td>
            <td>lorem ipsum title 7</td>
            <td>lorem ipsum my content 7</td>
        </tr>
        <tr>
            <td>8</td>
            <td>lorem ipsum title 8</td>
            <td>lorem ipsum my content 8</td>
        </tr>
        <tr>
            <td>9</td>
            <td>lorem ipsum title 9</td>
            <td>lorem ipsum my content 9</td>
        </tr>
        <tr>
            <td>10</td>
            <td>lorem ipsum title 10</td>
            <td>lorem ipsum my content 10</td>
        </tr>
    </tbody>
</table>